<!DOCTYPE html>
<html lang="en">

<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>


<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<section id="about">
    <div class="container">
        <h2>About Us</h2>
        <p>Welcome to SunPowa Systems, your trusted partner in sustainable energy solutions. With a proud legacy of five years in the industry, we have been at the forefront of revolutionizing the way individuals and businesses harness solar power for a cleaner and more sustainable future.</p>

        <h4>Our Journey</h4>
        <p>Since our inception in 2018, we have relentlessly pursued our mission to make renewable energy accessible to all. Over the past five years, we've embarked on a transformative journey, empowering communities and enterprises to embrace solar energy as a viable and cost-effective alternative.</p>

        <h4>Our Commitment</h4>
        <p>At SunPowa Systems, our commitment goes beyond just providing solar solutions. We are dedicated to delivering unparalleled quality, innovation, and customer satisfaction. Our team comprises passionate experts who continually strive to push the boundaries of solar technology, ensuring every product and service we offer meets the highest standards.</p>

        <h4>What Sets Us Apart</h4>
        <ul>
            <li><strong>Experience:</strong> Five years of industry expertise have honed our skills and knowledge, allowing us to deliver cutting-edge solar solutions.</li>
            <li><strong>Innovation:</strong> We stay ahead of the curve by integrating the latest technological advancements into our products and services.</li>
            <li><strong>Customer-Centric Approach:</strong> Your needs are at the core of everything we do. We aim to exceed your expectations at every step.</li>
            <li><strong>Sustainability:</strong> We're committed to creating a greener planet by promoting clean and sustainable energy practices.</li>
        </ul>

        <h4>Our Vision</h4>
        <p>Looking forward, our vision is to continue pioneering advancements in solar technology, making it more accessible, efficient, and affordable for everyone. We envision a future where renewable energy powers every corner of our world, reducing our carbon footprint and preserving the planet for generations to come.</p>

        <p>Thank you for being a part of our journey as we continue to innovate, evolve, and lead the way towards a brighter, cleaner future.</p>
    </div>

</section>

    <div>
        <nav th:replace="~{fragments/footer}"></nav>
    </div>
</body>

</html>
