<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>

    <div class="container-fluid">
        <h5 class="text-center text-black mt-5">
            Welcome to SunPowa,
            <th:block sec:authorize="isAuthenticated()">
                <th:block sec:authentication="name"></th:block>
            </th:block>
            <th:block sec:authorize="!isAuthenticated()" >
                Anonymous!
                </th:block>
        </h5>
    </div>

    <section class="call-to-action">
        <div class="container">
            <h2>Ready to Get Started?</h2>
            <p>Join us in the solar revolution today!</p>
            <a th:href="@{/users/register}" class="btn btn-primary">Register Now</a>
        </div>
    </section>

    <div>
        <nav th:replace="~{fragments/footer}"></nav>
    </div>

</body>

</html>
