<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>
    <div>
        <nav th:replace="~{fragments/navbar}"></nav>
    </div>


    <section class="call-to-action">
        <div class="container">
            <h2>Ready to Get Started?</h2>
            <p>Join us in the solar revolution today!</p>
            <a th:href="@{/register}" class="btn btn-primary">Register Now</a>
        </div>
    </section>

    <div>
        <nav th:replace="~{fragments/footer}"></nav>
    </div>

</body>

</html>
