<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

    <section id="registration">
        <div class="container">
            <h2>Product Registration</h2>
            <p>This is the Product Registration page content. Include your registration form or instructions here.</p>
        </div>
    </section>

    <div>
        <nav th:replace="~{fragments/footer}"></nav>
    </div>
</body>

</html>
