<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>
<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div sec:authorize="!hasRole('ADMIN')">
    <h2>Bought Products</h2>

    <ul>
        <li>Product A</li>
        <li>Product B</li>
    </ul>
</div>

<div>
    <h2>Change Username (Email)</h2>
    <form action="/changeEmail" method="post">
        <label for="newEmail">New Email:</label>
        <input type="email" id="newEmail" name="newEmail" required>
        <button type="submit">Change Email</button>
    </form>
</div>

<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>
</body>
</html>
