<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>

<body>

<nav th:replace="~{fragments/navbar}"></nav>

<h1>User Role Management</h1>

<!-- Form for adding user role -->
<form action="/addRole" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="role">Role:</label>
    <input type="text" id="role" name="role" required>

    <button type="submit">Add Role</button>
</form>

<!-- Form for removing user role -->
<form action="/removeRole" method="post">
    <label for="usernameRemove">Username:</label>
    <input type="text" id="usernameRemove" name="usernameRemove" required>

    <label for="roleRemove">Role:</label>
    <input type="text" id="roleRemove" name="roleRemove" required>

    <button type="submit">Remove Role</button>
</form>


<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>

</body>
</html>
