<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>

<body sec:authorize="hasRole('MASTER')">

<nav th:replace="~{fragments/navbar}"></nav>

<h1>User Role Management</h1>


<form th:method="POST" th:action="@{/roles/management/addAdmin}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">

    <button type="submit">Make Admin</button>
</form>


<form th:method="POST" th:action="@{/roles/management/removeAdmin}">
    <label for="usernameRemove">Username:</label>
    <input type="text" id="usernameRemove" name="usernameRemove" th:field="${userRoleManagementDTO.username}">

    <button type="submit">Remove Admin</button>
</form>


<div>
    <nav th:replace="~{fragments/footer}"></nav>
</div>

</body>
</html>
